/* standard formatting for all elements unless otherwise defined below */
* {
  font-family:"Roboto";
  color:black;
  text-align:left;
  text-decoration:none;
}
body {
  width:90%;
  margin:0 auto;
  background-image:url("https://stephenseed.github.io/dev109/finalp1/images/pexels-valeriya-1961778 (2)jpg");
  background-repeat:no-repeat;
}
h1, h2 {
  text-align:center;
}

p,title {
  color:black;
}


#errorMessages{
color:red;
}
