/* standard formatting for all elements unless otherwise defined below */
* {
  font-family:"Roboto";
  color:black;
  text-align:left;
  text-decoration:none;
}
body {
  width:90%;
  margin:0 auto;
  background-image:url("images/pexels-valeriya-1961778 (2)jpg");
  background-repeat:no-repeat;
}
h1, h2 {
  text-align:center;
}

p,title {
  color:black;
}

#feature {
  height:45em;
  margin-bottom:1em;
  margin:1%;
  background-color:#D3D3D3;
  background-size:contain;
  background-position:right;
  background-repeat:no-repeat;
  border: 4px solid black;
  Width: 400px;
}

#errorMessages{
color:red;
}
