
/* Extra Credit Exercise as part of M09 - iSpy Game */


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #fff;
  background: url("https://stephenseed.github.io/dev109/m09ec/images/ispy-image.jpg") top left fixed no-repeat;
  background-size: 1600px 1308px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;}

h1 {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;}

h2 {
  color: blue; 
  font-weight: normal;
  margin: 0;}

.gun {
  position: absolute;
  top: 94px;
  left: 324px;
  width: 334px;
  height: 133px;
  margin: 1px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;  /* Change the cursor to show it's clickable */
  border: 1px solid #333;
}
.marble {
  position: absolute;
  top: 408px;
  left: 778px;
  width:117px;
  height:111px;
  margin: 1px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;  /* Change the cursor to show it's clickable */
  border: 1px solid #333;
}
.pig {
  position: absolute;
  top: 1188px;
  left: 617px;
  width:210px;
  height:109px;
  margin: 1px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;  /* Change the cursor to show it's clickable */
  border: 1px solid #333;
}

.flower {
  position: absolute;
  top: 731px;
  left: 1324px;
  width: 130px;
  height: 138px;
  margin: 1px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;  /* Change the cursor to show it's clickable */
  border: 1px solid #333;
}
  
  .train {
  position: absolute;
  top: 887px;
  left: 545px;
  width: 198px;
  height: 190px;
  margin: 1px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;  /* Change the cursor to show it's clickable */
  border: 1px solid #333;
}


/* instructions */

#instructions {
  background-color: #ffb87a;
  color: #1e1b1e;
  width:170px;
  padding: 18px 30px;
  text-align: center;}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #adffda;}

#footer p {
  padding: 10px;
  margin: 0;}

.data {
  padding: 10px;}
