
/* Extra Credit Exercise as part of M09 - iSpy Game */


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #fff;
  background: url("https://stephenseed.github.io/dev109/m09ec/images/ispy-image.jpg") top left fixed;
  background-size: 1600px 1308px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;}

h1 {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;}

h2 {
  margin: 1.75em 0 0 0;
  color: #adffda; 
  font-weight: normal;}

/* instructions */

#instructions {
  background-color: #ffb87a;
  color: #1e1b1e;
  width:170px;
  padding: 18px 30px;
  text-align: center;}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #adffda;}

#footer p {
  padding: 10px;
  margin: 0;}

.data {
  padding: 10px;}
