* {
  font-family:"Roboto";
  color:black;
  text-align:left;
  text-decoration:none;
}
body {
  width:90%;
  margin:0 auto;
  background-image:url("https://stephenseed.github.io/dev109/finalp1/images/pexels-valeriya-1961778-v4 (1).jpg");
  background-repeat:no-repeat;

}
p,title {
  color:black;
}
nav,footer {
  margin:1%;
  background-color:orange;
  height:2em;
  padding:0.5em;
}
li {
  display:inline;
  padding:0.5em;
}

table {
  width: 800px;}

th, td {
  padding: 7px 10px 10px 10px;
  text-align: left;}

th {
  text-transform: Uppercase;
  letter-spacing: 0.1em;
  fint-sizing: 90%;
  border-bottom: 2px solid #11111;
  border-top: 1px solid #999;
  text-align: left;}

tr.even {
  background-color: #efefef;}

tr:hover {
  background-color: #c3e6e5;}
/* Defining ID formatting */
        
#content {
  overflow:auto;
}
#feature {
  height:30em;
  margin-bottom:1em;
  margin:1%;
  background-color:#8CC63E;
  background-size:contain;
  background-position:right;
  background-repeat:no-repeat;
}
#feature2 {
  text-align:left;
  height:100em;
  margin-bottom:1em;
  margin:1%;
  background-color:#8CC63E;
  background-size:contain;
  background-position:right;
  background-repeat:no-repeat;
}
/* Defining Classes */

.clearfix::after {
  content:"";
  clear:both;
  display:table;
}
.custom-input {
  color:black;
}
.container {
  display:flex;
  justify-content:space-between;
}
.container-left,.container-right {
  width:40%;
  /* Adjust width as needed */
               background-color:lightgrey;
  padding:20px;
}
